.login-page {
    height: 100vh;
    background: url("src/assets/loginimage.png") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .login-box {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .login-box input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .login-box button {
    padding: 10px;
    background: #222;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background: #000;
  }
  
  .forgot {
    font-size: 14px;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  