html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.register-background {
    background: url("src/assets/loginimage.png") no-repeat center center;
    /* background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-wrapper {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-wrapper h2 {
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  label {
    font-weight: 500;
    font-size: 14px;
  }
  
  input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background: #222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #000;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  